.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

Debug/
Release/
x64/
x86/
ipch/
*.obj
*.pdb
*.idb
*.aps
*.ncb
*.opendb
*.tlog
*.log
*.lastbuildstate
*.sdf
*.cachefile
*.VC.db
*.VC.VC.opendb

*.dll
*.exe

*.tmp
*.bak
*.cache
*.ilk

*.vcxproj.user
*.vcxproj.filters
*.opensdf

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

*.db
*.sbr

*.out
*.dat

.git/
